.video {
      margin-bottom: 1rem;
      padding: 0.7rem;
      font-weight: 500;
      font-size: 0.9rem;
      cursor: pointer;
}
.video .video__top {
      margin-bottom: 0.5rem;
      position: relative;
}
 .video .video__top img {
      width: 100%;
 }
 .video .video__top span {
      position: absolute;
      bottom: 0.3rem;
      right: 0.3rem;
      padding: 0.2rem;
      background: #080808ec;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
}
.video .video__title {
      margin-bottom: 0.1rem;
      color: #fff;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
}
.video .video__details {
       display: flex;
       align-items: center;
}

.video .video__channel {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;
}
.video .video__channel img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin-right: 0.5rem;
      cursor: pointer;
}
.video .video__channel p {
      margin-bottom: 0;
}